#
# Copyright (c) 2019 Brett Witherspoon
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_SOC_SERIES_CC2650=y
CONFIG_SOC_CC2650=y
CONFIG_BOARD_CC2650_DEVBOARD=y
CONFIG_BUILD_OUTPUT_HEX=y

CONFIG_CC2650_BOOTLOADER_ENABLE=y
CONFIG_CC2650_BOOTLOADER_BACKDOOR_ENABLE=y
CONFIG_CC2650_BOOTLOADER_BACKDOOR_PIN=13

# Enable MPU and hardware stack protection
CONFIG_ARM_MPU=n
CONFIG_HW_STACK_PROTECTION=n

CONFIG_PINCTRL=n
CONFIG_GPIO=y
CONFIG_SERIAL=n

CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n
